<template name="stagesParcel">
    <div class="ui three top attached steps">
        <div class="step">
            <i class="dollar icon"></i>
            <div class="content">
                <div class="title">Offer</div>
                <div class="description">Make an offer</div>
            </div>
        </div>
        <div class="active step">
            <i class="handshake icon"></i>
            <div class="content">
                <div class="title">Agreement</div>
                <div class="description">Agree on price conditions</div>
            </div>
        </div>
        <div class="disabled step">
            <i class="shipping icon"></i>
            <div class="content">
                <div class="title">Send</div>
                <div class="description">Arrange reception</div>
            </div>
        </div>
    </div>
</template>